[Desktop Entry]
Version=0.1
Name=litsearch
Comment=Search your local library
GenericName=Search Engine
Keywords=literature;library;search;
Exec=uxterm -e litsearch.sh
Type=Application
Icon=litsearch.png
Categories=Utility
MimeType=application/x-sh;
StartupNotify=true
